<div class="relative overflow-hidden">
    <img src="assets/img/bg-post-contact.png" class="absolute inset-0 w-full h-full object-cover pointer-events-none">
    <div class="absolute inset-0 w-full h-full pointer-events-none" style="background: linear-gradient(180deg, #030A11 25%, rgba(3, 10, 17, 0.5) 75%);"></div>
    <div class="relative z-10 max-w-[1024px] mx-auto px-3 lg:px-10 pt-[100px] pb-[200px]">
        <div data-ani="textfadeLeft2" data-delay="0.4" data-target=".ani-item" data-sequence="true">
            <div data-ani="fadeUp" data-delay="0.8" data-target=".ani-item-2" data-sequence="true">
                <div class="relative text-center">
                    <div class="inline-block text-[64px] lg:text-[100px] leading-100 font-semibold" style="font-family: 'Inter';">
                        <div class="ani-item" data-classes="gradient-2">CONTACT</div>
                    </div>
                    <h1 class="ani-item-2 text-[32px] lg:text-[40px] leading-150 2xl:leading-125 font-medium text-white -mt-10">與我們聯絡</h1>
                </div>

                <div class="ani-item-2 text-center mt-5 text-[16px] lg:text-[18px] leading-175 text-gray-100">
                    <p>RayMag Technology Inc. 鋭鎂科技｜MAO/PEO 表面處理服務<br>
                        適用材料：鋁、鎂、鈦合金｜提供打樣、小量試製與量產方案<br>
                        歡迎提供圖面與需求指標，我們 3–5 個工作天內回覆打樣建議。</p>
                </div>

                <div class="ani-item-2 mt-10 flex items-center justify-center flex-col sm:flex-row gap-5">
                    <div>
                        <a href="contact.html" class="inline-block rounded-full overflow-hidden gradient-btn-1 cursor-pointer relative">
                            <div class="inline-flex items-center gap-x-[10px] px-10 py-[10px] relative">
                                <div class="text-[16px] leading-175 font-medium text-white">前往 聯絡我們</div>
                                <img src="assets/img/icon-arrow.svg">
                            </div>
                        </a>
                    </div>

                    <div>
                        <a href="tel:+07-621-4500" class="inline-block rounded-full overflow-hidden gradient-btn-1 cursor-pointer relative">
                            <div class="inline-flex items-center gap-x-[10px] px-10 py-[10px] relative">
                                <div class="text-[16px] leading-175 font-medium text-white">撥打 07-621-4500</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>