<!-- Breadcrumb -->
<div class="border-t border-primary-300 border-opacity-20">
    <div class="px-3 lg:px-10">
        <div class="mx-auto max-w-[1600px]">
            <div class="flex items-end flex-wrap gap-x-3 py-3">
                <a href="/" class="text-[16px] leading-175 text-gray-100 transition-colors hover:text-primary-300">首頁</a>
                <svg width="6" height="28" viewBox="0 0 6 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.34091 7.81818L1.59091 21.75H0.363636L4.11364 7.81818H5.34091Z" fill="#A0CDE4" />
                </svg>
                <a href="#" class="text-[16px] leading-175 text-gray-100 transition-colors hover:text-primary-300">Level 2</a>
                <svg width="6" height="28" viewBox="0 0 6 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.34091 7.81818L1.59091 21.75H0.363636L4.11364 7.81818H5.34091Z" fill="#A0CDE4" />
                </svg>
                <a href="#" class="text-[16px] leading-175 text-gray-100 transition-colors hover:text-primary-300">Level 1</a>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="border-t border-primary-300 border-opacity-20">
    <div class="px-3 lg:px-10">
        <div class="mx-auto max-w-[1600px] py-10">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
                <div class="lg:flex flex-col justify-between">
                    <div>
                        <img src="assets/img/logo-raymag.svg" class="h-[48px]">
                    </div>
                    <div class="hidden lg:block">
                        <div class="text-[16px] leading-175 text-gray-500">© 2025 Raymag Technology Inc. All rights reserved.</div>
                    </div>
                </div>

                <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
                    <div class="flex flex-col gap-3">
                        <div class="flex items-start gap-[10px]">
                            <img src="assets/img/icon-contact-2.svg">
                            <a href="tel:+07-621-4500" class="text-[16px] leading-175 text-gray-100 hover:text-primary-300 transition-colors">07-621-4500</a>
                        </div>

                        <div class="flex items-start gap-[10px]">
                            <img src="assets/img/icon-contact-3.svg">
                            <a href="fax:+07-621-5064" class="text-[16px] leading-175 text-gray-100 hover:text-primary-300 transition-colors">07-621-5064</a>
                        </div>

                        <div class="flex items-start gap-[10px]">
                            <img src="assets/img/icon-contact-1.svg">
                            <a href="https://www.google.com/maps?q=高雄市岡山區岡山北路2巷55弄9號" target="_blank" class="text-[16px] leading-175 text-gray-100 hover:text-primary-300 transition-colors">高雄市岡山區岡山北路2巷55弄9號</a>
                        </div>

                        <div class="flex items-start gap-[10px]">
                            <img src="assets/img/icon-contact-4.svg">
                            <a href="mailto:raymagtech@gmail.com" class="text-[16px] leading-175 text-gray-100 hover:text-primary-300 transition-colors">raymagtech@gmail.com</a>
                        </div>
                    </div>

                    <div class="flex flex-col gap-3">
                        <a href="#" class="text-[16px] leading-175 text-gray-100 hover:text-primary-300 transition-colors">關於銳鎂</a>
                        <a href="#" class="text-[16px] leading-175 text-gray-100 hover:text-primary-300 transition-colors">最新消息</a>
                        <a href="#" class="text-[16px] leading-175 text-gray-100 hover:text-primary-300 transition-colors">科技工程整合方案</a>
                        <a href="#" class="text-[16px] leading-175 text-gray-100 hover:text-primary-300 transition-colors">全方位表面處理技術</a>
                        <a href="#" class="text-[16px] leading-175 text-gray-100 hover:text-primary-300 transition-colors">表面處理設備</a>
                        <a href="#" class="text-[16px] leading-175 text-gray-100 hover:text-primary-300 transition-colors">聯絡我們</a>
                    </div>
                </div>

                <div class="lg:hidden text-[16px] leading-175 text-gray-500">© 2025 Raymag Technology Inc. All rights reserved.</div>
            </div>
        </div>
    </div>
</div>

</div> <!-- end of container 1920px -->
</div> <!-- end of smooth-content -->
</div> <!-- end of smooth-wrapper -->

<script type="module" src="./main.js"></script>
</body>

</html>