<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    
    <title>RAYMAG TECHNOLOGY INC.</title>
    <meta name="description" content="">
    
    <meta property="og:title" content="RAYMAG TECHNOLOGY INC.">
    <meta property="og:description" content="全方位金屬表面處理技術，科技工程整合方案，表面處理設備整合方案">
    <meta property="og:image" content="https://raymag-tech.insiderhub.net/assets/img/og-img.png">

    <meta name="robots" content="noindex">

    <!-- icons -->
    <link rel="shortcut icon" sizes="16x16" href="assets/img/favicon.png">
    <link rel="apple-touch-icon" sizes="16x16" href="assets/img/favicon.png">
</head>

<body style="background-color: #030A11; color: #fff; overflow-x: hidden;">
    {{#if ploading}}
        {{> loading }}
    {{/if}}

    {{> menu }}
    
    <div class="fixed-container mx-auto relative"></div>
    <div id="smooth-wrapper">
        <div id="smooth-content">
            <div class="overflow-hidden">
                
            